@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>@ViewData["Title"]</title>

  <meta name="description" content="@ViewData["PageDescription"]">
  <meta name="keywords" content=" @Localizer["Keywords"]">
  <meta name="robots" content="index, follow">

  <meta name="yandex-verification" content="ece5c14772a49a4d" />



  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/jquery-ajax-unobtrusive/jquery.ajax.unobtrusive.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  <script src="~/lib/jquery-ui/jquery-ui.js"></script>
  <script src="~/js/jquery.cookie.js"></script>
  <script src="~/js/printview.js"></script>

  <script src="~/js/site.js" asp-append-version="true"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>

  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
  @*стиль для графика*@
  <style>
    div#barcontainer {
      width: 100%;
      height: 400px;
      margin: auto;
      background-color: #2F4A6D;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .bar {
      fill: #80cbc4;
    }

    text {
      font-size: 12px;
      fill: #fff;
    }

    path {
      stroke: gray;
    }

    line {
      stroke: gray;
    }

      line#limit {
        stroke: #FED966;
        stroke-width: 3;
        stroke-dasharray: 3 6;
      }

    .grid path {
      stroke-width: 0;
    }

    .grid .tick line {
      stroke: #9FAAAE;
      stroke-opacity: 0.3;
    }

    text.divergence {
      font-size: 14px;
      fill: #2F4A6D;
    }

    text.value {
      font-size: 14px;
    }

    text.title {
      font-size: 22px;
      font-weight: 600;
    }

    text.label {
      font-size: 14px;
      font-weight: 400;
    }

    text.source {
      font-size: 10px;
    }
  </style>

  @{
    bool UseAeroflotStyle = false;
    if (Context.Request.Cookies.ContainsKey("stylename") && Context.Request.Cookies["stylename"] == "aeroflot")
    {
      UseAeroflotStyle = true;
    }
  }

  @* стиль для вида в духе аэрофлота *@
  @if (UseAeroflotStyle)
  {
    <style>
      body {
        font-size: 16px;
        font-family: Roboto,Arial,Helvetica,sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
        background-image: url(/images/backgroundaero.jpg);
        background-color: #022040;
      }

      .navbar-default {
        background: none;
        border: none;
      }

        .navbar-default .navbar-nav > li > a {
          color: white;
        }

      .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #4a90e2;
      }
      .table-striped > tbody > tr:nth-child(2n){
        background-color: transparent;
      }
       .table-striped > tbody > tr:hover:nth-child(2n) {
        background-color: #022040;
      }

      a {
        color: white;
        text-decoration: none;
      }

      select {
        color: #606060;
      }
      .jumbotron{
        color: darkgrey;
      }
    </style>
  }
</head>
<body>
  <header>
    @{
      bool UseAeroflotStyle2 = false;
      if (Context.Request.Cookies.ContainsKey("stylename") && Context.Request.Cookies["stylename"] == "aeroflot")
      {
        UseAeroflotStyle2 = true;
      }
      string navstyle = "navbar-inverse";
      if (UseAeroflotStyle2)
      {
        navstyle = "navbar-default";
      }
    }
    <div class="navbar @navstyle" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            @if (UseAeroflotStyle2)
            {
              <a class="navbar-left" href="home/index/"><img src="~/images/curil clever logo.png" height="90" /></a>
            }
            else
            {
              <a class="navbar-brand" href="home/index/">CURIL CLEVER</a>
            }
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
            <li><a asp-area="" asp-controller="Order" asp-action="Index">@Localizer["Order managment"]</a></li>
            <li><a asp-area="" asp-controller="Client" asp-action="index">@Localizer["Client managment"]</a></li>
            <li><a asp-area="" asp-controller="Hotel" asp-action="Index">@Localizer["Hotel manager"]</a></li>
            <li id="accountblock" class="dropdown"> </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <partial name="_CookieConsentPartial" />

  <div class="container body-content">

    @RenderBody()

    <hr />
    <footer>
      <div class="blog-footer">
        <div class="row text-center">
          <p>@Localizer["copyright"] "<a href="http://vk.com/night_mare_218">Cretin Development"</a></p>

        </div>
        <div class="row">
          <div class="col-md-4 text-right">
            <!-- кнопки переключения-->
            <a id="print_view_btn">@Localizer["printview"]</a>
            <a id="default_view_btn">@Localizer["defaultview"]</a>
          </div>
          <div class="col-md-8">
            @await Html.PartialAsync("_SelectLanguagePartial")
            @await Html.PartialAsync("_SelectStylePartial")
          </div>
        </div>

        <span>


        </span>


      </div>
      <hr />
    </footer>
    <br />
    <br />
    <br />
  </div>
  <div class="row">
    <mini-profiler />
  </div>
  <environment include="Development">



  </environment>
  <environment exclude="Development">
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
              asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
              asp-fallback-test="window.jQuery"
              crossorigin="anonymous"
              integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
      </script>
      <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
              asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
              asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
              crossorigin="anonymous"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
      </script>
      <script src="~/js/site.min.js" asp-append-version="true"></script>*@


  </environment>
  @RenderSection("Scripts", required: false)

  <script type="text/javascript">
    // ajax загрузка блока с данными аккаунта и элемента меню
    $('#accountblock').load(
      "/home/accountinfo",
      function () { }
    );


    // обработка версии для печати
    // если в куках нет настройки на режим вывода для печати
    if ($.cookie('print_view') != '1') {

      // вызываем переключение страницы в стандартный режим
      SwitchToDefaultView();
    }
    else {
      // Если кука есть и равна 1,(значит что страница должна быть в виде для печати) то мы
      // вызываем переключение страницы в режим для печати
      SwitchToPrintView();
    }

    // добавляем обработку клика на кнопку переключение в вид для печати
    $('#print_view_btn').click(function () {
      // в обработчике просто вызываем функцию переключения
      SwitchToPrintView();
    });

    // добавляем обработку клика на кнопку переключение в стандартный вид
    $('#default_view_btn').click(function () {
      // в обработчике просто вызываем функцию переключения
      SwitchToDefaultView();
    });

  </script>

  <!--тут скрипт со снежинками на нг-->
  <script type="text/javascript">

    // фиксируем день и месяц когда скрипт должен работать
    var month = 05; // май
    var day = 30; // день месяца
    var today = new Date();


    //Картинка снежинки
    snow_img = "/pic/snow.gif";
    //Число снежинок
    snow_no = 56;

    if (typeof (window.pageYOffset) == "number") {
      snow_browser_width = window.innerWidth;
      snow_browser_height = window.innerHeight;
    }
    else if (document.body && (document.body.scrollLeft || document.body.scrollTop)) {
      snow_browser_width = document.body.offsetWidth;
      snow_browser_height = document.body.offsetHeight;
    }
    else if (document.documentElement && (document.documentElement.scrollLeft || document.documentElement.scrollTop)) {
      snow_browser_width = document.documentElement.offsetWidth;
      snow_browser_height = document.documentElement.offsetHeight;
    }
    else {
      snow_browser_width = 500;
      snow_browser_height = 500;
    }
    snow_dx = [];
    snow_xp = [];
    snow_yp = [];
    snow_am = [];
    snow_stx = [];
    snow_sty = [];

    if (today.getDate() == day && today.getMonth() + 1 == month) {
      for (i = 0; i < snow_no; i++) {
        snow_dx[i] = 0;
        snow_xp[i] = Math.random() * (snow_browser_width - 50);
        snow_yp[i] = Math.random() * snow_browser_height;
        snow_am[i] = Math.random() * 20;
        snow_stx[i] = 0.02 + Math.random() / 10;
        snow_sty[i] = 0.7 + Math.random();
        //Здесь задается позиция снежинок за счет z-index
        if (i == 0) document.write("<\div id=\"snow_flake0\" style=\"position:absolute;z-index:0\"><a href=\"#\" target=\"_blank\"><\img src=\"" + snow_img + "\" border=\"0\"></a><\/div>");
        else document.write("<\div id=\"snow_flake" + i + "\" style=\"position:absolute;z-index:10000" + i + "\"><\img src=\"" + snow_img + "\" border=\"0\"><\/div>");
      }
    }
    function SnowStart() {
      for (i = 0; i < snow_no; i++) {
        snow_yp[i] += snow_sty[i];
        if (snow_yp[i] > snow_browser_height - 50) {
          snow_xp[i] = Math.random() * (snow_browser_width - snow_am[i] - 30);
          snow_yp[i] = 0;
          snow_stx[i] = 0.02 + Math.random() / 10;
          snow_sty[i] = 0.7 + Math.random();
        }
        snow_dx[i] += snow_stx[i];
        document.getElementById("snow_flake" + i).style.top = snow_yp[i] + "px";
        document.getElementById("snow_flake" + i).style.left = snow_xp[i] + snow_am[i] * Math.sin(snow_dx[i]) + "px";
      }
      snow_time = setTimeout("SnowStart()", 10);
    }
    if (today.getDate() == day && today.getMonth() + 1 == month) { SnowStart(); }
  </script>
</body>
</html>
