@using CurilClever2.ViewModels
@model OrderCommentsViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

  <h1>@Localizer["Comments"]</h1>
@foreach (OrderComment u in Model.Comments)
{
  <div class="media">
    <div class="media-left">
      <img src="~/images/std_avatar.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"> @u.User.name<small><i> @u.Posted.ToShortDateString() @u.Posted.ToShortTimeString() </i></small></h4>
      <p> @u.Text</p>
    </div>
  </div>
}
@if (Model.Comments.Count() == 0)
{
<p>@Localizer["thisorderhasnocommentsyetyoucanaddonebelow"]</p>
}
else
{
  @if (Model.PageViewModel.HasPreviousPage)
  {
<a asp-action="Comments" asp-controller="order" asp-route-id="@Model.orderid" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#OrderCommentBlock"
   class="btn btn-default btn">
  <i class="glyphicon glyphicon-chevron-left"></i>
  @Localizer["Back"] 
</a>
  }
  else
  {
<a class="btn btn-default btn" style="opacity:.5">
  <i class="glyphicon glyphicon-chevron-left"></i>
  @Localizer["Back"] 
</a>
  }
  @if (Model.PageViewModel.HasNextPage)
  {
<a asp-action="Comments" asp-controller="Order" asp-route-id="@Model.orderid" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#OrderCommentBlock"
   class="btn btn-default btn">
  @Localizer["Next"]
  <i class="glyphicon glyphicon-chevron-right"></i>
</a>
  }
  else
  {
<a class="btn btn-default btn" style="opacity:.5">
  @Localizer["Next"] Дальше
  <i class="glyphicon glyphicon-chevron-right"></i>
</a>
  }

}
<h3>@Localizer["Addacommenttotheorder"]</h3>
<form id="NewClientComent" asp-action="AddComment" asp-controller="Order"
      data-ajax="true" data-ajax-mode="replace" data-ajax-update="#OrderCommentBlock"
      method="post">

  <input name="orderid" type="hidden" value="@Model.orderid" />
  <textarea name="comment" cols="40" rows="5"></textarea>
  <br />
  <button name="sendbutton" type="submit">@Localizer["Sent"]</button>
</form>