@using CurilClever2.ViewModels
@model ClientCommentsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["ClientComments"]</h1>
@foreach (ClientComment u in Model.Comments)
{
  <div class="media">
    <div class="media-left">
      <img src="~/images/std_avatar.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"> @u.User.name<small><i> @u.Posted.ToShortDateString() @u.Posted.ToShortTimeString() </i></small></h4>
      <p> @u.Text</p>
    </div>
  </div>

}
@if (Model.Comments.Count() == 0)
{
  <p>@Localizer["noonecomments"] </p>
}
else
{
  @if (Model.PageViewModel.HasPreviousPage)
  {
    <a asp-action="ClientComments" asp-controller="client" asp-route-id="@Model.clientid" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ClientCommentBlock"
       class="btn btn-default btn">
      <i class="glyphicon glyphicon-chevron-left"></i>
      @Localizer["prev"]
    </a>
  }
  else
  {
    <a class="btn btn-default btn">
      <i class="glyphicon glyphicon-chevron-left"></i>
      @Localizer["prev"]
    </a>
  }
  @if (Model.PageViewModel.HasNextPage)
  {
    <a asp-action="ClientComments" asp-controller="client" asp-route-id="@Model.clientid" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ClientCommentBlock"
       class="btn btn-default btn">
      @Localizer["next"]
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  }
}
<h3>@Localizer["AddComment"]</h3>
<form id="NewClientComent" asp-action="AddClientComment" asp-controller="Client"
      data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ClientCommentBlock"
      method="post">

  <input name="clientid" type="hidden" value="@Model.clientid" />
  <textarea name="comment" cols="40" rows="5"></textarea>
  <br />
  <button name="sendbutton" type="submit">@Localizer["Send"]</button>
</form>