@using CurilClever2.ViewModels
@model ClientPageViewModel
<H2>Клиенты агенства</H2>
<br>
<table class="table table-striped table-hover">
  <tr>
    <td>ИД</td>
    <td>ФИО</td>
    <td>Возраст/Пол</td>
    <td>Телефон</td>
    <td>Управление</td>
  </tr>
  @if (Model.Clients.Count() == 0)
  {
    <tr>
      <td colspan="5">
        Клиентов в базе нет!
      </td>
    </tr>
  }
  else
  {
    foreach (Client client in Model.Clients)
    {
      <tr>
        <td>@client.id </td>
        <td>@client.GetFullName()</td>
        <td>@client.GetYearsFromBirth() лет | @client.GetGenderName()</td>
        <td>@client.Phone</td>
        <td>
          @Html.ActionLink("подробно", "Details", "Client", new { id = client.id }, null)
          @Html.ActionLink("Изменить", "EditClient", "Client", new { id = client.id }, null)
          <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ClientsBlock"
             asp-route-page="@Model.PageViewModel.PageNumber" asp-route-id="@client.id"
             asp-action="DeleteClient" asp-controller="Client" >Удалить</a>
        </td>
      </tr>
    }
  }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
  <a asp-action="GetTableOfClients" asp-controller="client" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
     data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ClientsBlock"
     class="btn btn-default btn">
    <i class="glyphicon glyphicon-chevron-left"></i>
    сюда
  </a>
}
else
{
  <a class="btn btn-default btn" style="opacity:.7">
    <i class="glyphicon glyphicon-chevron-left"></i>
    сюда
  </a>
}
@if (Model.PageViewModel.HasNextPage)
{
  <a asp-action="GetTableOfClients" asp-controller="client" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
     data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ClientsBlock"
     class="btn btn-default btn">
    туда
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
}
else
{
  <a class="btn btn-default btn" style="opacity:.7">
    туда
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
}