@using System.Security.Claims;

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (User.Identity.Name != null)
{
  var xol = Localizer["You login as"];

  string role = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @Localizer["Account managment"] <span class="caret"></span></a>
  <ul class="dropdown-menu">

    @if (role == "Admin")
    {
      <li><a asp-area="admin" asp-controller="Home" asp-action="index">@Localizer["AdminPage"]</a></li>
    }
    else
    {
      <li><a href="#">@Localizer["Admin Page Unavalible"]</a></li>
    }
    <li><a asp-controller="Account" asp-action="Manage">@Localizer["Account managment"]</a></li>
    <li role="separator" class="divider"></li>
    <li><a>@Localizer["You login as"] @User.Identity.Name</a></li>
    <li>@Html.ActionLink(Localizer["Log Out"].Value, "Logout", "Account", new { }, null)</li>
  </ul>
}
else
{
  <p>@Localizer["For work with portal"] <br /> @Localizer["Sign In"]! </p>
}
