@using CurilClever2.ViewModels
@model HotelPageViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["All hotels"]</h2>
<table class="table table-striped table-hover">

  <tr>
    <td><b>@Localizer["Hotel"]</b></td>
    <td><b>@Localizer["Stars Rate"]</b></td>
    <td><b>@Localizer["Price per day"]</b></td>
    <td><b>@Localizer["Adres"]</b></td>
    <td><b>@Localizer["Actions"]</b></td>
  </tr>
  @if (Model.Hotels.Count() == 0)
  {
    <tr>
      <td colspan="5">
        @Localizer[""]Отелей в базе нет!
      </td>
    </tr>
  }
  @foreach (Hotel hotel in Model.Hotels)
  {
    <tr>
      <td>@hotel.Name</td>
      <td>@hotel.StarsRate *</td>
      <td>@hotel.Price</td>
      <td>@hotel.Addres</td>
      <td>
        @Html.ActionLink(Localizer["Explore"].Value, "Details", "Hotel", new { id = hotel.id }, null)
        |
        @Html.ActionLink(Localizer["Edit"].Value, "EditHotel", "Hotel", new { id = hotel.id }, null)
        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#hotelstablecontainer"
           asp-route-page="@Model.PageViewModel.PageNumber" asp-action="DeleteHotel" asp-controller="Hotel"
           asp-route-id="@hotel.id">@Localizer["Remove"]</a>
        </td>
      </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
  <a asp-action="GetTableOfHotels" asp-controller="Hotel" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
     data-ajax="true" data-ajax-mode="replace" data-ajax-update="#hotelstablecontainer"
     class="btn btn-default btn">
    <i class="glyphicon glyphicon-chevron-left"></i>
    @Localizer["prev"]
  </a>
}
else
{
  <a class="btn btn-default btn" style="opacity:.5">
    <i class="glyphicon glyphicon-chevron-left"></i>
    @Localizer["prev"]
  </a>
}
@if (Model.PageViewModel.HasNextPage)
{
  <a asp-action="GetTableOfHotels" asp-controller="Hotel" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
     data-ajax="true" data-ajax-mode="replace" data-ajax-update="#hotelstablecontainer"
     class="btn btn-default btn">
    @Localizer["next"]
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
}
else
{
  <a class="btn btn-default btn" style="opacity:.5">
    @Localizer["next"]
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
}