@using CurilClever2.ViewModels
@model HotelPageViewModel
<h2>Все отели</h2>
<table border="1">

  <tr>
    <td><b>Отель</b></td>
    <td><b>Звезды</b></td>
    <td><b>Стоимость одного дня</b></td>
    <td><b>Адрес</b></td>
    <td><b>Действия</b></td>
  </tr>
  @if (Model.Hotels.Count() == 0)
  {
    <tr>
      <td colspan="5">
        Отелей в базе нет!
      </td>
    </tr>
  }
  @foreach (Hotel hotel in Model.Hotels)
  {
    <tr>
      <td>@hotel.Name</td>
      <td>@hotel.StarsRate *</td>
      <td>@hotel.Price</td>
      <td>@hotel.Addres</td>
      <td>
        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#hotelstablecontainer"
           asp-route-page="@Model.PageViewModel.PageNumber" asp-action="DeleteHotel" asp-controller="Hotel"
           asp-route-id="@hotel.id">Удалить</a>
        |
        @Html.ActionLink("Изменить", "EditHotel", "Hotel", new { id = hotel.id }, null)
      </td>
    </tr>
  }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
  <a asp-action="GetTableOfHotels" asp-controller="Hotel" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
     data-ajax="true" data-ajax-mode="replace" data-ajax-update="#hotelstablecontainer"
     class="btn btn-default btn">
    <i class="glyphicon glyphicon-chevron-left"></i>
    сюда
  </a>
}
else
{
  <a class="btn btn-default btn" style="opacity:.7">
    <i class="glyphicon glyphicon-chevron-left"></i>
    сюда
  </a>
}
@if (Model.PageViewModel.HasNextPage)
{
  <a asp-action="GetTableOfHotels" asp-controller="Hotel" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
     data-ajax="true" data-ajax-mode="replace" data-ajax-update="#hotelstablecontainer"
     class="btn btn-default btn">
    туда
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
}